.page-wrapper{
    display: flex;
    justify-content: center;
}

.page-container{
    margin-top: 2em;
    width: 92%;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.header div {

    display: flex;
}

.header div > * {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    margin: 1em;
}

.page-title{
    font-weight: bold;
    font-size: 2.5rem;
    outline: 0;
}

.circle{
    width: 2.5em;
    height: 2.5em;
    background-color: #00ff00;
    border-radius: 50%;
    margin-right: 1em;
}

.col-1{
    display: flex;
    align-items: center;
}

.page-content{
    outline: 0cm;
    user-select: none; /* Standard syntax */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-user-select: none; /* Safari */
}